[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "lib/foundry-devops"]
	path = lib/foundry-devops
	url = https://github.com/chainaccelorg/foundry-devops
